body {
    background-color: #17242C;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.note i {
    margin-top: 7px;
}

.note a {
    color: #fff;
}

.note-details {
    background-color: #222F36;
    border-radius: 5px;
    padding: 5px;
}

.note-list li {
    margin-right: 5px;
}

.note-container {
    background: rgb(23,36,44);
    background: linear-gradient(180deg, rgba(23,36,44,1) 1%, rgba(34,47,54,1) 97%);
    border-radius: 5px;

}
